<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto my-auto">
      <form class="form-group">
        <div>Username</div>
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          class="form-control"
        />
        <div>Password</div>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
        />
        <div class="text-center">
          <button (click)="checkLogin()" class="btn btn-success">
            Login
          </button>
        </div>
        <div class="bg-danger text-light">{{ message }}</div>
      </form>
    </div>
  </div>
</div>
